[submodule "test-environment/puppet-modules/mysql"]
	path = test-environment/puppet-modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "test-environment/puppet-modules/apt"]
	path = test-environment/puppet-modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "test-environment/puppet-modules/stdlib"]
	path = test-environment/puppet-modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
