<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>anycook-graph</display-name>
  <servlet>
    <servlet-name>JerseyBackend</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.anycook.graph.Graph</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyBackend</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>