<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"> 
  <display-name>anycook-graph</display-name>
  <servlet>
    <servlet-name>JerseyBackend</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>de.anycook.api</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>de.anycook.api.filter.OAuthAuthenticationFilter</param-value>
    </init-param>
     <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
      <param-value>de.anycook.api.filter.cors.CorsFilter</param-value>
  </init-param>
  	<init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JerseyBackend</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <cookie-config>
      <domain>.anycook.de</domain>
      <path>/</path>
      <secure>false</secure>      
    </cookie-config>
  </session-config>
</web-app>